<% provide(:title, "About") %>
<div class="container-fluid h-100 bg-light text-dark">
  <h1>About</h1>
  <p>
    This sample application is being developed by <%= link_to "Mark Gamal", "https://github.com/Mark-GM" %>.
  </p>
</div>