<% provide(:title, 'All users') %>
<div class="container bg-light text-dark">
  <h1>All users</h1>

  <%= pagy_bootstrap_combo_nav_js(@pagy).html_safe %>

  <ul class="users">
    <%= render @users %>
  </ul>

  <%= pagy_bootstrap_combo_nav_js(@pagy).html_safe %>
</div>