<div class="jumbotron center">
  <h1>Welcome to the Sample App</h1>

  <h2>
    This is the home page for the sample app.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= image_tag("kitten.jpg", alt: "Kitten", class: "img-fluid kittenpic") %>